// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-on-hover-name: 'arrow-on-hover';
$arrow-on-hover-x: 0px;
$arrow-on-hover-y: 0px;
$arrow-on-hover-offset-x: 0px;
$arrow-on-hover-offset-y: 0px;
$arrow-on-hover-width: 14px;
$arrow-on-hover-height: 28px;
$arrow-on-hover-total-width: 46px;
$arrow-on-hover-total-height: 28px;
$arrow-on-hover-image: '/img/sprite.png';
$arrow-on-hover: (0px, 0px, 0px, 0px, 14px, 28px, 46px, 28px, '/img/sprite.png', 'arrow-on-hover', );
$arrow-name: 'arrow';
$arrow-x: 14px;
$arrow-y: 0px;
$arrow-offset-x: -14px;
$arrow-offset-y: 0px;
$arrow-width: 14px;
$arrow-height: 28px;
$arrow-total-width: 46px;
$arrow-total-height: 28px;
$arrow-image: '/img/sprite.png';
$arrow: (14px, 0px, -14px, 0px, 14px, 28px, 46px, 28px, '/img/sprite.png', 'arrow', );
$search-name: 'search';
$search-x: 28px;
$search-y: 0px;
$search-offset-x: -28px;
$search-offset-y: 0px;
$search-width: 18px;
$search-height: 18px;
$search-total-width: 46px;
$search-total-height: 28px;
$search-image: '/img/sprite.png';
$search: (28px, 0px, -28px, 0px, 18px, 18px, 46px, 28px, '/img/sprite.png', 'search', );
$spritesheet-width: 46px;
$spritesheet-height: 28px;
$spritesheet-image: '/img/sprite.png';
$spritesheet-sprites: ($arrow-on-hover, $arrow, $search, );
$spritesheet: (46px, 28px, '/img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
