<header class="main-header">
  <div class="main-header__left">
    <div class="logo"></div>
  </div>
  <div class="main-header__center">
    <nav class="main-menu">
      <div class="main-menu__item"><a href="/">Главная</a></div>
      <div class="main-menu__item"><a href="/">Статьи</a></div>
      <div class="main-menu__item"><a href="/">Видео</a></div>
      <div class="main-menu__item"><a href="/">Библиотеки</a></div>
    </nav>
  </div>
  <div class="main-header__right">
     <form class="header_search" role="search" method="get">
		<input class="header_search__btn" type="submit" value="">       
        <input class="header_search__field" type="text" placeholder="Поиск…" value="">
     </form>
  </div>
</header>
